:root {
    --font-color: #ffffff;
    --bg-color: #333333;
}

/* Dark theme */
.dark-theme {
    --font-color: #333333;
    --bg-color: #ffffff;
}

.theme-button {
    border-radius: 2px;
    margin-bottom: 20px;
    background-color: #d0d0d0;
}

body {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Chakra Petch", 'Trebuchet MS', sans-serif;
    color: var(--font-color);
    background-color: var(--bg-color);
    transition: background-color 0.3s ease;
}

h1 {
    font-family: "Audiowide", Arial, sans-serif;
    color: var(--font-color);
}

#calculator {
    max-width: 220px;
    margin-top: 20px;
    padding: 10px;
    border: 5px solid #696969;
    border-radius: 8px;
    background-color: #999999;
    font-family: "Chakra Petch", 'Trebuchet MS', sans-serif;
}

button:not(.theme-button) {
    cursor: pointer;
    width: 20%;
    margin: 5px;
    padding: 10px;
    border: 1px solid #474747;
    border-radius: 5px;
    box-shadow: 1px 1px #686868;
}

input {
    margin: 5px;
    cursor: default;
    width: 90%;
    margin-top: 10px;
    border: 1px solid #474747;
    border-radius: 5px;
    box-shadow: 1px 1px #686868;
}

.operation {
    text-align: right;
    height: 20px;
} 


.result {
    text-align: center;
    margin-bottom: 20px;
    font-size: larger;
    background-color: #f0e68c;
}

.number {
    background-color: #c0c0c0;
}

.operator {
    background-color: #ffa500;
}

.calculate {
    background-color: #42d326;
}

.other {
    background-color: #ffffff;
}